# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
lib/
include/
bin/
share/
.venv/
build/
dist/
*.egg-info/
.pytest_cache/

# Arquivos temporários gerados pelo seu script
*.mp4
*.avi
*.mov
*.mkv
*.mp3             
temp_uploaded_video
temp_audio.mp3

# Arquivos de log, se houver
*.log

# Arquivos de sistema operacional (se você estiver em um Mac ou Linux)
.DS_Store
.ipynb_checkpoints/
.streamlit/secrets.toml
